---
import Layout from '../layouts/Layout.astro';
import FeatureHero from '../components/features/FeatureHero.astro';
import FeatureList from '../components/features/FeatureList.astro';
import FeatureComparison from '../components/features/FeatureComparison.astro';
import CTA from '../components/CTA.astro';
---

<Layout 
  title="Features" 
  description="Discover all the powerful features that make Briefr the best solution for marketing brief management."
>
  <main>
    <FeatureHero />
    <FeatureList />
    <FeatureComparison />
    <CTA />
  </main>
</Layout>
