---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Marketing Brief Management Made Easy">
  <main>
    <Hero />
    <Features />
    <Testimonials />
    <CTA />
  </main>
</Layout>
